.Blog {

    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
}


.blog-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    gap: 30px;
    justify-items: center;

}

.blog-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: clamp(220px, 30vw, 250px);
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 8px;
    font-family: 'Figtree', sans-serif;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    margin: 10px;
}

.blog-card:hover {
    border-color: #e66465;
    transition: 0.3s ease-in-out;
}

.blog-title {

    font-size: 1.3rem;
    font-weight: 600;
    background: linear-gradient(120deg, #e66465, #9198e5);
    background-clip: border-box;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
    margin-bottom: 0px;
    font-family: 'Figtree', sans-serif;

}

.blog-date {
    font-size: 1.0rem;
    color: #b9b6b6;
}

.blog-icon {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 10px;

}

.blog-desc {
    font-size: 1.0rem;
    margin: 10px;
}

.blog-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    width: 45%;
    height: 40px;
    background-color: transparent;
    border: 2px solid #e66465;
    margin: 10px;
    padding: 10px;
}

.blog-button:hover {
    background-color: #e66465;
    cursor: pointer;
    border: #e66465;
    transition: 0.3s ease-in-out;
}

.blog-button svg {
    vertical-align: middle;
    margin-left: 3px;
    margin-bottom: 3px;
}

.blog-coming-soon {
    font-size: 1.5rem;
    line-height: 1.3rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;

}

